<p id="notice"><%= notice %></p>

  <section class='align'>
    <strong>Title:</strong>
    <%= @editorial.title %> <br/> <br/>



    <strong>Author:</strong>
    <%= @editorial.author %> <br/> <br/>



    <strong>Date:</strong>
    <%= @editorial.date %>  <br/> <br/>



    <strong>Published:</strong>
    <%= @editorial.published %> <br/> <br/>



    <strong>Content:</strong>
    <%= @editorial.content.html_safe %>  <br/> <br/>


    <%= image_tag @editorial.image, :class=>'imglarge' %><br/> <br/>
  </section>
  <% if current_user.try( :admin? ) %>
      <%= link_to 'Edit', edit_editorial_path(@editorial) %> |
      <%= link_to 'Email', email_editorial_path(@editorial) %>
  <% end %> |
  <%= link_to 'Back', editorials_path %>
