<h1>Inventory</h1>

<%= paginate @products %>
<table class='plain'>
  <thead>
    <tr>
      <th> ID No:</th>
      <th>Name</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Price</th>
      <% if current_user.try( :admin? ) %>
        <th>Cost</th>
      <% end %>
      <th>Weight</th>
      <th>Thumbnail</th>
      <th colspan=3>Functions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product %></td>
        <td class='wide'><%= product.description.html_safe %></td>
        <%#= truncate(product.description, :length => 20).html_safe %>
        <td><%= product.qty %></td>
        <td><%= product.price %></td>
        <% if current_user.try( :admin? ) %>
        <td><%= product.cost %></td>
        <% end %>
        <td><%= product.weight %></td>
        <td><%= link_to(image_tag(product.thumbnail, :class=> 'imgsmall'), product) %></td>
        <td><%= link_to 'Show', product %></td>
        <% if current_user.try( :admin? ) %>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
       <% end %>
  </tbody>
</table>

<br><% if current_user.try( :admin? ) %>
        <%= link_to 'Add New Product', new_product_path %>
    <% end %>
